<h1>Projects</h1>
<form method="get">
    <%= select_tag :state, options_for_select(["All", "Proposal", "In Progress", "Finished"], @selected_state)%>
    <input type="submit" value="Buscar">
    </form>

<table>
    <tr>
    <td>Nombre</td>
    <td>Descripcion</td>
    <td>Estado</td>
    <td>Fecha Inicio</td>
    <td>Fecha Termino</td>
    </tr>
    <% @projects.each do |project|%>

    <tr>
        <td><%= project.name %></td>
        <td><%= project.description%></td>
        <td><%= project.state %></td>
        <td><%= project.starts_on %></td>
        <td><%= project.ends_on %></td>
      
    </tr>
      
    <% end %>

</table>
